.container {
  background-color: rgba(155, 192, 223, 0.301);
  width: 80%;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5vw;
  margin: 0.5vw 0;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: 1s all;
}
.container:hover {
  cursor: pointer;
  background-color: rgba(86, 139, 182, 0.377);
}
.number {
  font-size: max(1vw, 15px);
  font-weight: 700;
  color: var(--orange);
  font-family: "Montserrat", sans-serif;
  margin-bottom: 7px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.weather {
  font-size: max(1.2vw, 18px);
  font-weight: 700;
}
.date {
  font-size: max(0.9vw, 15px);
  font-weight: 100;
  color: gray;
}
.text {
  width: 100%;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
