.container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    min-width: 300px;
    background-color:  #ffffffa8;
border-left: 2px solid #ffffff ;
    transition: 0.5s all;
    z-index: 26;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.open {
    transform: translate(0%);
}
.close {
    transform: translate(120%);
}