.container {
    width: max(35px , 2vw);
    height:max(35px , 2vw);
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    width: 100%;
    height: 100%;
}