.container {
    height: 100vh;
    width: max(50px , 5vw) ;
    background-color: var(--darkblue);
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 22;
    color: white;
    display: none;

}
.container-icons {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
app-icon {
    width: 100%;
    height: 100%;
}