.container {
    height: 100vh;
    width: max(70px , 7vw) ;
    background-color: rgb(255, 233, 223);
    position: fixed;
    top: max(10vh , 80px);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.container-icons {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}