<div class="container">
    <div class="text">weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather weather</div>
<app-bar-child [data]=data (clicked)="click1()" [active]=active1></app-bar-child>
<app-bar-child [data]=data1 (clicked)="click2()" [active]=active2></app-bar-child></div>
