.container {
  height: 35vh;
  min-height: 240px;
  min-width: 320px;
  width: 25vw;
  border-radius: 30px;
  position: relative;
  background-size: cover;
  box-sizing: border-box;
  padding: 20px;
  margin: 10px 0 0 1vw;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.firstLabel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text h1 {
  font-size: max(0.7vw, 15px);
  margin: 0;
}
.text h3 {
  font-weight: 300;
  margin: 5px 0 0 0;
  font-size: max(0.5vw, 12px);
}
.small-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.slider {
    background-color: rgba(255, 254, 255, 0.747);
    width: 100%;
    height: max(30px , 10vh);
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider h5 {
    font-size: max(0.5vw, 12px);
    margin:   0 5% 5% 5% ;

}
.line-wrapper {
    position: absolute;
    top: -30%;
    height: 100%;
    margin-left: 10%;
    width: 80%;
    text-align: center;
    border-radius: 1px;
    overflow: hidden;
}
.status {
    position: absolute;
    top: 5px;
    left: calc(50% - 60px);
width: 70px;
height: 20px;
color: white;
display: flex;
align-items: center;
justify-content: center;
padding: 3px 7px;
border-radius: 10px;
font-size: max(0.3vw, 10px);
background-color: rgb(22, 9, 53);
}
.line::after {
    transition: 1s 1s all;
    right: 90%;
    position: absolute;
    content: "";
    border-bottom: 2px solid black ;
    width: 100%;
    height: 100%;
}
.line.status2::after {
    right: 70%;
}
.line.status3::after {
    right: 50%;
}
.line.status4::after {
    right:25%;
}
.line.status5::after {
    right:5%;
}
.line {
width: 100%;height: 100%;
border-bottom: 3px solid rgba(128, 128, 128, 0.521);
transform: translateY(-2px);
}