.container {
  height: 35vh;
  min-height: 240px;
  min-width: 320px;
  width: 25vw;
  border-radius: 30px;
  position: relative;
  background-size: cover;
  box-sizing: border-box;
  padding: 20px;
  margin: 10px 0 0 1vw;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.firstLabel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text h1 {
  font-size: max(0.7vw, 15px);
  margin: 0;
}
.text h3 {
  font-weight: 300;
  margin: 5px 0 0 0;
  font-size: max(0.5vw, 12px);
}
.small-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.slider {
    background-color: rgba(255, 254, 255, 0.747);
    width: 100%;
    height: max(30px , 10vh);
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider h5 {
    font-size: max(0.5vw, 12px);
    margin:   0 5% 5% 5% ;

}
.line {
    position: absolute;
    top: -30%;
    height: 100%;
    margin-left: 10%;
    width: 80%;
    text-align: center;
    border-bottom: 2px solid rgba(128, 128, 128, 0.521);
}