@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
:root {
    --green: rgb(203, 235, 130);
    --blue: rgb(130, 141, 235);
    --red: rgb(235, 130, 130);
    --purple: #df9cec;
    --darkblue : #011936;
    --orange : #eb9976cb;


  } 

html, body , app-root {
width: 100%;
height: 100%;
margin: 0;
font-family: 'Quicksand', sans-serif;
}
