.container {
    max-width: 100%;
    overflow: hidden;
    margin-top:  max(12vh , 100px);
    margin-left:  max(70px , 7vw);
    padding: 5px;
    box-sizing: content-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container1 {
    display: flex;
width: 100%;
align-items: center;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
height: 100%;

}
.GeneralInfos {
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-around; */
flex-wrap: wrap;

}
.sideInfos {
    width: 50%;
    height: 80vh;
    align-self: flex-start;
    
}
.TodayInfos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
}
@media screen and (max-width : 1100px) {
    .sideInfos {
        display: none;
    }
}