.container {
  max-width: 100%;
  margin-top: max(12vh, 100px);
  margin-left: max(70px, 7vw);
  padding: 5px;
  box-sizing: content-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.container1 {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.GeneralInfos {
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-around; */
  flex-wrap: wrap;
}
.sideInfos {
  width: 50%;
  height: 80vh;
  align-self: flex-start;
}
.TodayInfos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.currentWeather {
  min-width: 23vw;
  height: 10vh;
  background-color:var(--orange);
  border-radius: 20px;
  position: absolute;
  top: -25.5vh;
  right: 2vw;
  z-index: 12;
  padding-top: 10vh;
}

@media screen and (max-width: 1100px) {
    .container {
        flex-wrap: wrap;
        padding-bottom: 10vh;
    }
    
  }
  @media screen and (max-width: 800px) {
    .currentWeather{
        display: none;
    }
    
  }