<div class="container">
    <div class="container1">
        <div class="GeneralInfos">
         <app-bigbox [weather]="weather" [showSmallbox]= true [pic]="img" smallIcon="cloud" title="Weather" subtitle="What's the Weather Like ?"></app-bigbox>
    <app-bigbox  [weather]="weather" [showSmallbox]=false pic="windy" smallIcon="cloud" title="Air Quality" subtitle="Air Speed: "></app-bigbox>
    </div>
    <div class="TodayInfos">
    <app-large-box></app-large-box> 
       <app-tall-box pic="rainy"></app-tall-box>
</div>

</div>
   <div class="sideInfos">
     
    <app-prediction-bar></app-prediction-bar>
   </div>
   <div class="currentWeather">
      <app-sideinfos></app-sideinfos>
  </div>
   

</div>